article {
    display: grid;
    grid-template-columns: [line1] auto [line2] auto [line3] auto [line4] auto [line5] auto [line6] auto [line7];
	grid-template-rows: [row1] auto [row2] auto [row3] auto [row4] auto [row5] auto [row6] auto [row7] auto [row8] auto [row9] auto [row10] auto [row11] auto [row12] auto [row13] auto [row13] auto [row14] auto [row15] auto [row16] auto [row17] auto [row18] auto [row19] auto [row20] auto [row21];
    border: 2px solid gray;
}

.item-1 {
    grid-column: line1 / line2;
    grid-row: row1 / row2;
}

.item-2 {
    grid-column: line2 / line3;
    grid-row: row1 / row2;
}

.item-3 {
    grid-column: line3 / line4;
    grid-row: row1 / row2;
}

.item-4 {
    grid-column: line4 / line5;
    grid-row: row1 / row2;
}

.item-5 {
    grid-column: line5 / line6;
    grid-row: row1 / row2;
}

.item-6 {
    grid-column: line6 / line7;
    grid-row: row1 / row2;
}

.item-7 {
    grid-column: line1 / line2;
    grid-row: row1 / row2;
}

.item-8 {
    grid-column: line1 / line2;
    grid-row: row1 / row2;
}

.item-9 {
    grid-column: line1 / line2;
    grid-row: row1 / row2;
}

.item-10 {
    grid-column: line1 / line2;
    grid-row: row1 / row2;
}

.item-11 {
    grid-column: line1 / line2;
    grid-row: row1 / row2;
}

.item-12 {
    grid-column: line1 / line2;
    grid-row: row1 / row2;
}

.item-13 {
    grid-column: line1 / line2;
    grid-row: row1 / row2;
}

.item-14 {
    grid-column: line1 / line2;
    grid-row: row1 / row2;
}

.item-15 {
    grid-column: line1 / line2;
    grid-row: row1 / row2;
}

.item-16 {
    grid-column: line1 / line2;
    grid-row: row1 / row2;
}

.item-17 {
    grid-column: line1 / line2;
    grid-row: row1 / row2;
}

.item-18 {
    grid-column: line1 / line2;
    grid-row: row1 / row2;
}

.item-19 {
    grid-column: line1 / line2;
    grid-row: row1 / row2;
}

.item-20 {
    grid-column: line1 / line2;
    grid-row: row1 / row2;
}

.item-21 {
    grid-column: line1 / line2;
    grid-row: row1 / row2;
}
